fastapi
uvicorn
gradio

langchain
langserve
langchain-openai
langchain-huggingface
langchain-community

chromadb
sentence-transformers
torch

python-docx
PyMuPDF
unstructured[docx]

pydantic
requests
python-dotenv